// 全站設定
*,*::before,*::after{
    box-sizing: border-box;
}
body{
font-family: 'Roboto','Noto Sans TC', sans-serif; 
line-height: 1.5; 
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
    @include PAD{
        max-width: 720px;
    }
    @include MB{
        max-width: 372px;
    }    
}


a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
img{
    vertical-align: middle;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 36px;
}
h4{
    font-size: 24px;
}
p{
    font-size: 16px;
}


