// 顏色
$color_primary:#AA0601;
$color_primary_dark:#650300;
$color_secondary:#FBF2F2;
$color_black:#000000;
$color_white:#fff;
$color_shadow:#DEE2E6;
$color_gray:#707070;

// font-weight
$light: 300;
$medium: 500;
$bold: 700;
$black: 900;
